<%=render 'welcome/navFrontStore'%>
<div class="container">
  <h3>Iniciar sesión</h3>
  <%=render 'sessionErrors'%>
  <%= form_tag '/login', html: { class: 'form'}  do %>
  <div class="card">
    <div class="card-body">
      <div class="mb-3">
        <%= label_tag :email%>
        <%= text_field_tag :email,nil, class: 'form-control' %><br>
      </div>
      <div class="mb-3">
        <%= label_tag :password%>
        <%= password_field_tag :password,nil, class: 'form-control'%><br>
      </div>
      <%= submit_tag "Iniciar sesión", class:"btn btn-primary"%>
    </div>
    <%= link_to 'dont have an account?', '/users/new', method: :get %>
  </div>
  <%end%>
</div>
