<%=render 'backstore/navBackStore'%>
<h1>Orders</h1>
<table class="table">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Address</th>
    <th>Total</th>
    <th>State</th>
    <th>Option</th>
  </tr>
  <%@orders.each do |row| %>

    <tr>
      <td><%= row.user.firstname %></td>
      <td><%= row.user.lastname %></td>
      <td><%= row.address %></td>
      <td>$<%= row.totalPrice%></td>
      <td><%= row.stateString %></td>
      <td>
        <div class="dropdown">
          <button class="btn btn-lg bi bi-gear dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"style="color:red">
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= button_to 'Approve', order_approve_path(:id => row.id), method: :post, data: {confirm: "Are you sure?"}, class:'dropdown-item'%>
            <%= button_to 'Reject', order_reject_path(:id => row.id), method: :post, data: {confirm: "Are you sure?"}, class:'dropdown-item'%>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
</table>
<br><br><hr>
