<%=render 'backstore/navBackStore'%>
<h1>Orders</h1>
<table class="table">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Address</th>
    <th>Total</th>
    <th>State</th>
    <th>Option</th>
  </tr>
  <%@orders.each do |row| %>

    <tr>
      <td><%= row.user.firstname %></td>
      <td><%= row.user.lastname %></td>
      <td><%= row.address %></td>
      <td><%= row.totalPrice%></td>
      <td><%= row.stateString %></td>
      <td>
        <%= link_to 'Cancel', order_cancel_path(:id => row.id), method: :post%>
      </td>
    </tr>
  <% end %>
</table>
<br><br><hr>
