<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid ">
    <div class="navbar-header">
      <a class="navbar-brand" href="/welcome">Logo</a>
    </div>
    <div class="navbar-nav navbar-right">
      <ul class="nav navbar-nav">

        <%if logged_in?%>
          <li>
            <%= button_to '/orders', method: :get, class:'btn btn-lg mt-1' do %>
              <span class="bi bi-gift"></span>
              <span class="badge badge-light"><%=current_user_orders.count%></span>
            <% end %>
          </li>
          <li>
            <%= button_to '/cart', method: :get, class:'btn btn-lg mt-1' do %>
              <span class="bi bi-cart-check-fill"></span>
              <span class="badge badge-light"><%=current_cart.items.count%></span>
            <% end %>

          </li>
          <li>
          <div class="dropdown">
            <button class="btn btn-lg bi bi-person-fill dropdown-toggle mt-1 mr-5" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= button_to 'Backstore', backstore_path, method: :get, class:'dropdown-item' if isAdmin?%>
              <%= button_to 'logout', logout_path, method: :delete, class:'dropdown-item'%>
            </div>

        </div>

        </li>
        <%end%>
        <li><button class="btn" name="button"></button></li>
      </ul>
    </div>
  </div>
</nav>
